html, body {
	height: 100%;
}

body, input, button, select, textarea {
	font-family: 'proxima-nova-n4', 'proxima-nova', 'Helvetica', 'Arial', 'sans-serif';
	font-weight: 700;	
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}
body{
	color:#fff;
	background:  url(../images/dataroom-bg.jpg) center no-repeat;
	background-size: cover;
	font-size: 14px;	
	font-weight: 700;
}
body:after{
	content: "";
	display: block;
	position: fixed; /* could also be absolute */ 
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);

}
.container {
	position: relative;
	z-index: 99999;
}
.upper {
	text-transform: uppercase!important;
}
a{
	color:#EA5F4C;
}

a:hover, a:focus{
	outline:none;
	text-decoration: underline;
	color: #EA5F4C;
}

h1{
	font-size:60px;
	margin-top:50px;
	font-weight:200;
	line-height:70px;
	color:#fff;
}

h2{
	text-transform:uppercase;
	color: #EA5F4C;
	font-size: 30px;
	font-weight: 400;
}

.span3 h2 {
	color: #fff;
}

.btn{
	border-radius:0;
	font-weight:bold;
	background-image:none;
	background-color:#EA5F4C;
	box-shadow: none;
	border: 0px none;
	text-shadow: none;
	font-size: 14px;
}
form h1 {
	font-size: 25px;
	color: #fff;
	line-height: normal;
	font-style: normal;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px 0 10px 0;
}
form h1 span {
	color: #EA5F4C;
	font-size: 20px;
	font-weight: 600;
	display: block;
	margin: 0px;
}
nav{
	background-color: #fff;
	padding: 15px 0;
	width:100%;
	margin-bottom: 30px;
/*	height:50px;*/
}
nav img {
	float: left;
}
nav h1 {
	font-size: 17px;
	color: #999;
	margin: 0px;
	font-weight: 400;
	float: left;
	text-transform: uppercase;
	line-height: normal;
	margin: 10px 0 0 20px;
}
nav h1 span {
	color: #EA5F4C;
}
nav ul {
	text-align: right;
	margin-top: 56px;
}
nav ul li {	
	display: inline-block;
	zoom: 1; *display: inline;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 18px;
	margin-left: 30px;
}
nav ul li a {
	color: #fff
}
nav ul li a:hover {
	text-decoration: none;
}

.hlogo {
	margin-top: 40px;
}

.container {
	position:relative;	
}


.btnD {
	width: 100%;
	display: block;
	padding: 7px 0;
	background-color: #EA5F4C;
	text-align: center;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
	margin-top: 20px;
	transition: all 0.4s ease;
}
.btnD:hover {
	background-color: #00172c;
	color: #fff;
	border-color: transparent;
	text-decoration: none;
}
form input[type=text], form input[type=password],
.btn, .requestpw, h2 {
	letter-spacing: 0.5px;	
}
.login {
	width: 320px;
	z-index: 9999;
	position: relative;
}

form {
	margin-top: 20px;
}
form input[type=text], 
form input[type=password] {
	border: 1px solid #e7e7e9;
	border-width: 1px 0 0 1px;
	background-color: #f7f7f7;
	box-shadow: none;
	border-radius: 0px;
	width: 290px;
	padding: 7px 15px;
	font-weight: 600;
	margin-bottom: 13px;
}
form input::-webkit-input-placeholder { /* WebKit browsers */
    color:    #bdbec1;
}
form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #bdbec1;
}
form input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #bdbec1;
}
form input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #bdbec1;
}

form input[type=submit].btn {
	color: #fff;
	transition: all 0.3s ease;
	padding: 6px 25px;
}
form input[type=submit].btn:hover {
	background-color: #00a097;
	color: #fff;
}
.requestpw {
	display: block;
	background-color: rgba(255,255,255,0.5);
	padding: 6px 15px;
	font-size: 12px;
	transition: all 0.3s ease;
	color: #EA5F4C;
}
.requestpw:hover {
	background-color: #fff;
	color: #EA5F4C;
	text-decoration: none;
}

.messages {
	text-transform: uppercase;
	border: 1px solid #cd0000;
	padding: 5px 0;
	font-size: 12px;
	margin: 10px 0;
	clear: both;background-color: rgba(255,255,255,0.5);
}

.messages ul {
	padding: 0px;
	margin: 0px;
}
.messages li {
	display: block;
	text-align: center;
	color: #cd0000;
}


.added{

	padding:15px;
	margin:20px 0 0 0;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	list-style:none;
	background-color: #fff;
	color: #202020;
	font-weight: 400;
	border-color: #999999;
}



.sidenav {
	padding: 0px;
	margin: 0px;
}

.sidenav li{
	display: block;
	margin-bottom:0;
}

.sidenav li a{
	display: block;
	color: #808183;
	background-color:#f7f7f7;
	text-transform: uppercase;
	font-size: 13px;
	height: 34px;
	border: 1px solid #e7e7e9;
	border-width: 1px 0px 0px 1px;
	line-height: 34px;
	padding: 0px 15px;
	letter-spacing: 0.5px;
}
.sidenav li:hover a {
	background-color: #e7e7e9;
}
.sidenav li.active a {
	background-color:#EA5F4C;
	color:#fff;
}
.tab-content{
	margin-top:60px;
	background: #fff;
	padding: 20px;
	min-height:500px;
	color: #3f3f3f;
	height: 565px;
	font-weight: 400;
}
.tab-content ul {
	list-style: none;
	margin: 0px 0 25px 0;
	padding: 0px;
}
.tab-content li {
	text-transform: uppercase;
	background: url('../images/small-bullet.png') no-repeat;
	background-position: 0px 6px;
	padding-left: 20px;
	margin-bottom: 8px;
	list-style: none;

}
.tab-content h2 {
	font-size: 22px;
	text-transform: uppercase;
	line-height: 29px;
	margin-bottom: 20px;
}


x.tab-content h2:after {
	content: "";
	display: table-cell;
	width: 100%;
	background-image: linear-gradient(
		to right,
		transparent 50%,
		#e7e7e9 50%
	);
	background-position: 0px 50%;
	background-size: 1px 2px;
	background-repeat: repeat-x;
	border-left: solid 30px transparent;
}

.tab-content a{
	color:#202020;
}

.tab-content a:hover{
	color:#EA5F4C;
	text-decoration: none;
}

.accordion-heading a.accordion-toggle {
	background: url('../images/bullet.png') no-repeat left 9px;
	padding: 8px 20px;

}
.accordion-inner {
	border-color: #666;
}
.accordion-inner a {
	color: #ddd;
}
.cols{
	width:300px;
	float:left;
	margin-right:20px;
	display:block;
}


.accordion-group {
	border-width: 0px 0px 1px 0px;
	text-transform: uppercase;
	border-color: #444;
	border-radius: 0px;
}

.tab-content h3 {
	color: #EA5F4C;
	font-size: 17px;
	margin: 0;
	text-transform: uppercase;
	font-weight: 400;
}

.accordion-toggle.active {
	color: #EA5F4C;
}

.nav-tabs.nav-stacked > li > a {
	background-color: #fff;
	color: #202020;
	font-weight: 200;
	border-color: #999999;
	font-size: 16px;
	text-transform: uppercase;
}
.nav-tabs.nav-stacked > li:last-child > a {
	border-radius: 0px;
}
.nav-tabs.nav-stacked > .active > a,
.nav-tabs.nav-stacked > .active > a:hover {
	background-color: #fff;
	color: #df5f4c;
	font-weight:bold;
}
.nav-tabs.nav-stacked > li > a:hover {
	border-color: #999999;
	background-color: #EA5F4C;
	color: #fff;

}
.photos {
	overflow: hidden;
	list-style: none;
}
.photos li img {
	width: auto;
	min-height: 120px;
}
.photos li {
	width: 150px;
	height: 120px;
	float: left;
	margin: 0px 10px 10px 0;
	list-style: none;
	background: none;
	overflow: hidden;
	padding: 0px;
}
.photos li a {
	display: block;	
	overflow: hidden;	
}
.nav-tabs.nav-stacked .sub-level-1>a, .nav-tabs.nav-stacked .sub-level-2>a, .nav-tabs.nav-stacked .sub-level-3>a {
	background-color: #dcdbdb;
	text-transform: none;
	padding-left:20px;
}
.nav-tabs.nav-stacked .sub-level-1.active>a, .nav-tabs.nav-stacked .sub-level-2.active>a, .nav-tabs.nav-stacked .sub-level-3.active>a {
	color: #000;
	font-weight: 600;
}


/*************** Benn Custom ***************/

/* Login Section */
.container {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    webkit-box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -ms-flex-pack: center;
	justify-content: center;
}
#logoTitle span {
	color:#34b6c4;
	font-size:69px;
	font-family: 'Raleway', sans-serif;
	letter-spacing: -2px;
	display:block;
}

#logoTitle span:nth-child(3){
	color: #df5f4c;
    margin-top: -45px;
    margin-bottom: -45px;
}

body.nobg #logoTitle span:nth-child(3) {
	color: #df5f4c;
	margin-top: -29px;
    margin-bottom: -29px;
}

#logoTitle span:nth-child(5) {
	color:#ffffff;
}
#extraLinks a {
	font-size: 15px;
    color: #ffffff;
    letter-spacing: 0.1px;
}
#extraLinks a:hover {
	color:#34b6c4;
}
#extraLinks span {
	color: #34b6c4;
}
#extraLinks {
	display: flex;
  	align-items: center;
    justify-content: center;
}
#extraLinks span {
	font-weight: 900;
    margin: 0px 6px;
	font-size: 20px;
	font-family: sans-serif;
}
form input[type=submit].btn, .requestpw {
	background: #df5f4c;
	color: #fff;
}
form input[type=submit].btn:hover, .requestpw:hover {
	background: #34b6c4;
	color: #fff;
}
#extraLogos {
	display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -ms-flex;
    display: flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    webkit-box-pack: center;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    -ms-flex-pack: center;
	justify-content: space-between;
	margin-bottom: 20px;
}
#extraLogos img {
	max-width: 140px;
}
#harveyco {
	font-family: Arial;
	color: #fff;
	text-decoration: none;
	font-weight: 900;
    font-size: 23px;
}
#harveyco:hover {
	font-family: Arial;
	color: #fff;
	text-decoration: none;
}
.logos {
    DISPLAY: FLEX;
    JUSTIFY-CONTENT: flex-end;
	ALIGN-ITEMS: flex-end;
	height: 83px;
}
.logos .cushman {
	max-width:250px;
	margin-right:30px;
}

/* Content Section */
nav {
	z-index:99999;
	position: relative;
	background:#3e3e3f;
}
body.nobg {
	background: #dcdddf !important;
}
body.nobg:after {
	display:none;
}
body.nobg #logoTitle span {
    font-size: 35px;
    font-weight: 600;
}
body.nobg nav h1 {
	margin-left:0px;
	margin-top:0px;
}
body.nobg .tab-content {
	margin-top: 0px;
}
.nav-tabs {
	padding: 16px;
    background: white;
}
.nav-stacked > li {
	border-bottom: 1px solid #8a8a8a;
	border-top: 1px solid #8a8a8a;
}
.nav-tabs.nav-stacked > li > a {
	position: relative;
	padding: 15px 0px;
}
.nav-tabs.nav-stacked > li > a {
	border: none;
	text-transform: initial;
}
.nav-tabs.nav-stacked > li > a:hover {
	border: none;
	background: #fff;
	color:#df5f4c;
}
.added {
	text-transform: initial;
}
#contactInfo {
    padding: 15px;
    margin: 20px 0 0 0;
    font-size: 13px;
    font-weight: 500;
    list-style: none;
    background-color: #fff;
    color: #202020;
    font-weight: 400;
	border-color: #999999;
	word-break: break-word;
	padding-right: 0px;
}
#contactInfo a {
	color:#df5f4c;
}
#contactInfo h3 {
	font-size: 17px;
	color: #df5f4c;
}
body.nobg .logos img.cushman {
	max-width: 160px !important;
}