body {
	color: #000;
	background-color:#1C1C1C;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 0.75em;
}
a img {border:none;}

#header {
	height: 120px;
	background-image:url(../images/hdr_bg.jpg);
}

#header_wrapper {
	width:960px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	height:120px;
}

.yellow {
	width:100%;
	height:7px;
	background-color:#FFCC00;
}

.yellow2 {
	width:100%;
	height:1px;
	background-color:#FFCC00;
	margin-top:30px;
	clear:both;
}

.clear {
	clear: both;
	display: block;
	height: 20px;
}

.clear_two {
	clear: both;
	display: block;
	height: 10px;
}

.clear2 {
	clear: both;
	display: block;
	height: 15px;
}

.clearboth {
	clear: both;
	display: block;
}

#logo {
	width:185px;
	height:38px;
	margin-top: 40px;
	float:left;
}

h1 {
	font-size:400%;
	color: #fff;
	font-weight:100;
	padding: 0;
	margin:50px 0 0 0;
	text-transform:capitalize;
	text-align:left;
	clear: left;
	text-decoration:none;
	width:100%;
}

h2 {
	font-size:150%;
	color: #fff;
	font-weight:lighter;
	text-transform:capitalize;
	text-align:left;
	clear: left;
	width:100%;
	margin:0 0 10px 0;
}

h2 a {
	color: #fff;
	font-weight:lighter;
	text-align:left;
	clear: left;
	width:100%;
	margin:0 0 10px 0;
	text-decoration:none;
}

h2 a:hover {
	text-decoration:none;
	color:#ffcc00;
}

h3 {
	font-size:120%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 10px 0;
	line-height:1.3em;
}

h4 {
	font-size:125%;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 10px 0;
}

h4 	a:link,
	a:visited {
	color: #fff;
	text-decoration:none;
}

h4  a:hover,
	a:active {
	color: #fff;
	text-decoration:underline;
}

h4.cs_dashboard {
	padding:0;
	margin:0;
}

h3 .yellow_text {
	color:#ffcc00;
}

h5 {
	font-size: 160%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 5px 0;
}

h5.cs_type {
	color:#999999;
	font-size:125%;
	padding:0;
	margin:0 0 10px 0;
}


/* Username */

#name {
    position:absolute;
    padding:0;
    margin:0;
    list-style:none;
    float: left;
    /*width: 170px;*/
    left:0;
    top: 95px;
    text-align:left;
    display:inline-block;
    
}

#name li {
    color:#ffcc00;
    display:block;
    float:left;
    
}

#name ul.the_menu li{
    display:block;
    font-size:12px;
    width:100%;
}

#name .username{
    background-color:transparent;
    padding-left:4px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:5px;
    display:inline;
    text-indent:5px;
    z-index:9996;
    /*border-top:#1c1c1c solid 1px;
    border-left: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;*/
    
    }
.username img{margin-left:4px;}
#name .white {
    color:#fff;
}

.downarrow_1{
    text-indent:-9999px;
    background:url(../images/down-arrow-1.png) center no-repeat;
    width:7px;
    cursor:pointer;
    margin-left:10px;
    margin-right:2px;
    display:inline-block;
            }
            
.settings_1{
    text-indent:-9999px;
    background:url(../images/icons/settings.png) center no-repeat;
    width:13px;
    height:12px;
    cursor:pointer;
    margin-top:0px;
    display:inline-block;
}

.the_menu {
    background-color:#383838;
    display:none;
    width:185px;
    text-align:left;
    border-top:1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    border-left: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    position:absolute;
    z-index:9000;
    padding-left:10px;
    text-transform:none;
    margin-left:5px;
    margin-right:5px;
    font-size:14px;
    margin-bottom:10px;
    margin-top:2px;
    padding-bottom:10px;    
    min-height:0px;
    top:93px;
    left:0px;
}

.the_menu li {
    
    
}

.the_menu li a {
    padding-top:5px;
    color:#FFFFFF; 
    text-decoration:none; 
    padding:1px; 
    display:block;
}

.the_menu li a:hover {
    padding:1px;
    font-weight:bold;
    color: #666666;
}

span.white1{
    display:block;
    color:#ffffff;
    text-transform:none;
    font-size:18px;
    margin-top:5px;
    margin-bottom:10px;
    border-bottom:1px solid #666666;
    width:150px;
    height:25px;

}

.the_menu_2{
    float:right;
    margin-top:22px;
}
.the_menu_1{ margin-top:22px;}

a.whitelink_1{
    color:#fff;
    margin-top:0px;
}

div ul.over_lay{
    text-align:left;
    padding-left:5px;
    font-size:15px;
    color:#ffffff;
    padding-top:5px;
    padding-right:150px;
    }
    
div ul.over_lay li{
    margin-bottom:10px;
    }   


    
.splbl{display:block;
    width:130px;
    margin-right:5px;
    float:left;}


/* top navigation */

ul#primary {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 0px;
	width: 960px;
	left: 0px;
}

ul#primary li {
	display: inline;
	list-style: none;
}

ul#primary a,
ul#primary a.active {
	display: block;
	float: right;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 110%;
	font-weight:800;
	color: #252525;
	margin: 0px 2px 0 0;
	padding: 5px 8px 3px 8px;
}

ul#primary a.active,
ul#primary a.active:hover {
	background: #FFCC00;
	color: #252525;
	margin: 0 3px 0 0;
	padding: 5px 8px 3px 8px;
}

ul#primary a {
	background: #9D8002;
	border-bottom: none;
	margin: 0px 3px 0 0;
	padding: 5px 8px 3px 8px;
	color:#252525;
}

ul#primary a:hover {
	margin: 0 3px 0 0;
	background-color:#FFCC00;
	color: #252525;
	padding-top: 5px 8px 3px 8px;
}

.filterby {
	position:absolute;
	right:0;
}

h4.filter {
	color:#ffcc00;
	font-weight:bold;
	font-size: 90%;
	float:left;
	padding:5px 4px 0 0;
}


/* logout */


ul#logout {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 93px;
	width: 50px;
	left: 903px;
}

ul#logout li {
	display: inline;
	list-style: none;
}

ul#logout a,
ul#logout a.active {
	display: block;
	float: right;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 80%;
	font-weight:300;
	color: #252525;
	margin: 0px 2px 0 0;
	padding: 5px 8px 3px 8px;
}

ul#logout a.active,
ul#logout a.active:hover {
	background: #FFCC00;
	color: #252525;
	margin: 0 3px 0 0;
	padding: 5px 8px 3px 8px;
}

ul#logout a {
	background: #1C1C1C;
	border-bottom: none;
	margin: 0px 3px 0 0;
	padding: 10px 8px 5px 8px;
	color:#fff;
}

ul#logout a:hover {
	margin: 0 3px 0 0;
	background-color:#1C1C1C;
	color: #FFCC00;
	padding-top: 5px 8px 5px 8px;
}


/* body */

#body_wrapper {
	width: 960px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
}


/* Article sort */

#sort_list {
	padding:0;
	margin: 0 0 15px 0;
	list-style:none;
	float: left;
}

#sort_list li {
	color:#666;
	font-weight:normal;
	display:inline;
	font-size:120%;
}

#sort_list li a:link,
#sort_list li a:visited {
	color: #fff;
	text-decoration: none;
	font-weight:normal;
}

#sort_list li a:hover,
#sort_list li a:active {
	color:#fff;
}

.yellow_sort {
	color:#ffcc00;
	font-size:80%;
	font-weight:bold;
}





/* step 01 */

.step {
	color:#fff;
	width:100%;
	float:left;
	text-align:left;
	font-size:20px;
	font-weight:100;
	margin:20px 0  20px 0;
	padding-bottom:10px;
	border-bottom:1px solid #666;
	
}









/* create News */


#create_news {
	padding: 0;
	margin: 0;
	list-style:none;
	width:960px;
	float: left;
	display:block;
	position:relative;
}

#create_news li {
	font-weight:700;
	text-align:left;
	font-size:220%;
	font-weight:lighter;
	height: 50px;
	background-color:#ffcc00;
}

#create_news li a:link,
#create_news li a:visited {
	color: #323232;
	display: block;
	text-decoration: none;
	padding: 10px 0 0 10px;
	background-image:url(../images/icons/create_news_icon.gif);
	background-position:right;
	background-repeat:no-repeat;
	
}

#create_news li a:hover,
#create_news li a:active {
	color:#fff;
}

#plus_icon {
	position:absolute;
	left: 918px;
	top: 11px;
}




/* create News */


#plot_map {
	padding: 0;
	margin: 0 0 10px 0;
	list-style:none;
	width:960px;
	float: left;
	display:block;
	position:relative;
}

#plot_map li {
	font-weight:700;
	text-align:left;
	font-size:220%;
	font-weight:lighter;
	height: 50px;
	background-color:#3D3D3D;
}

#plot_map li a:link,
#plot_map li a:visited {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 10px 0 0 10px;
	background-image:url(../images/icons/create_news_icon.gif);
	background-position:right 0px;
	background-repeat:no-repeat;
	height:40px;
	
	
}

#plot_map li a:hover,
#plot_map li a:active {
	color:#323232;
	background-color:#ffcc00;
}


.white {
	color:#fff;
}



#map_display {
	width:380px;
	height:220px;
	border:3px solid #fff;
	margin-bottom:10px;
	background-color:#666;
}





/* Arcticles */


.datatable {
	margin: 0 0 10px 0;
	width: 100%;
	border-collapse: collapse;
	font-size: 90%;
	float:left;
	background-color:#2C2C2C;
}

.datatable td {
	padding: 0;
	padding-left: 10px;
	text-align:right;
	height:50px;
}

.datatable tr:hover {
	background-color:#3D3D3D;
	color: #000;
}

.datatable .first {
	text-align: left;
}

.datatable .last {
	padding-right:10px;
}

.datatable .live {
	background-color:#111111;
	color: #000;
	border: 1px solid #ffcc00;
}

.datatable h2 {
	font-size:150%;
	color: #fff;
	font-weight:lighter;
	text-transform:capitalize;
	text-align:left;
	clear: left;
	width:100%;
	margin:0px 0 0 0;
	display:block;
}

.datatable p {
	color: #ffcc00;
	display:block;
	float:left;
	margin: 4px 0 0 0;
}



/* pages */

#pages {
	padding:0;
	margin: 0 0 0 0;
	list-style:none;
	float: right;
	
}

#pages li {
	font-size: 100%;
	display:inline;
	text-align:right;
	margin-left:3px;
}

#pages li a:link,
#pages li a:visited {
	color: #747474;
	text-decoration: none;
	font-weight:normal;
	padding:4px;
	
}

#pages li a:hover,
#pages li a:active {
	background-color:#ffcc00;
	padding:4px;
	color:#000;
}

.page-on {
	background-color:#ffcc00;
	padding:4px;
	color:#000;
}




/* breadcrumb */

#breadcrumb {
	padding-left: 2px;
	margin: 0;
	list-style:none;
	float: left;
}

#breadcrumb li {
	color: #747474;
	font-size: 90%;
	display:inline;
}

#breadcrumb li a:link,
#breadcrumb li a:visited {
	color: #747474;
	text-decoration: none;
}

#breadcrumb li a:hover,
#breadcrumb li a:active {
	color:#ffcc00;
}

#breadcrumb .active {
	color:#ffcc00;	
}


/* Dashboard intro */

#intro {
	width:930px;
	background-color:#3D3D3D;
	padding:15px;
}

#intro h2 {
	color:#FFF;
	padding:0;
	margin:0;
	text-transform:none;
	font-size:190%;
	font-weight:100;
}

#intro p {
	text-align:left;
	color:#FFF;
	padding:0;
	margin:0;
	font-size:120%;
	line-height:1.3em;
}

#intro p a {
	text-align:left;
	color:#FFcc00;
	padding:0;
	margin:0;
	font-weight:bold;
	text-decoration:none;
}

#intro  p a:hover {
	text-align:left;
	color:#FFF;
	padding:0;
	margin:0;
	text-decoration:underline;
	color:#ffcc00;
}


/* Dashboard items */

#news {
	width:290px;
	background-color:#3D3D3D;
	padding:10px;
	margin-right:15px;
	float:left;
	position:relative;
}

#press_release {
	width:290px;
	background-color:#3D3D3D;
	padding:10px;
	margin-right:15px;
	float:left;
	position:relative;
}

#events {
	width:290px;
	background-color:#3D3D3D;
	padding:10px;
	float:left;
	position:relative;
}


#news h2 {
	font-size:160%;
	width:100%;
	margin:0 0 15px 0;
	display:block;
}

#press_release h2 {
	font-size:160%;
	width:100%;
	margin:0 0 15px 0;
	display:block;
}

#events h2 {
	font-size:160%;
	width:100%;
	margin:0 0 15px 0;
	display:block;
}

#view_all {
	padding: 0;
	margin: 0;
	list-style:none;
	width:290px;
	float: left;
	display:block;
	position:relative;
}

#view_all li {
	font-weight:700;
	text-align:left;
	font-size:90%;
	font-weight:100;
	background-color:#000;
	text-transform:uppercase;
}

#view_all li a:link,
#view_all li a:visited {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 7px 5px 7px 10px;
}

#view_all li a:hover,
#view_all li a:active {
	color:#fff;
	background-color:#1F1F1F;
}


#edit_tags {
	padding: 0;
	margin: 0 0 10px 0;
	list-style:none;
	width:940px;
	float: left;
	display:block;
	position:relative;
}

#edit_tags li {
	font-weight:700;
	text-align:left;
	font-size:90%;
	font-weight:100;
	background-color:#000;
	text-transform:uppercase;
}

#edit_tags li a:link,
#edit_tags li a:visited {
	color: #fff;
	display: block;
	text-decoration: none;
	padding: 7px 5px 7px 10px;
}

#edit_tags li a:hover,
#edit_tags li a:active {
	color:#fff;
	background-color:#1F1F1F;
}




/* Dashboard table */


.dashboard_table {
	margin: 0 0 5px 0;
	width: 290px;
	border-collapse: collapse;
	font-size: 90%;
	float:left;
	background-color:#000;
}

.dashboard_table td {
	padding: 10px 0 10px 10px;
	text-align:right;
}

.dashboard_table .live {
	background-color:#1F1F1F;
}

.dashboard_table p {
	color: #ffcc00;
	display:block;
	float:left;
	margin: 4px 0 0 0;
}

.dashboard_table .icons {
	padding: 5px 5px 0 0;
	height: 18px;
}

.dashboard_table .icons_bottom {
	padding: 5px 5px 5px 0;
}

#add_article {
	position:absolute;
	left: 270px;
	top: 7px;
}


/* dashboard tags */


#dashboard_tags {
	width:940px;
	background-color:#3d3d3d;
	height:80px;
	float:left;
	padding:10px;
}



/* footer */

#footer {
	width:960px;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	clear:both;
	margin-bottom:50px;
}

ul#help {
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -21px;
	left: 750px;
	width: 216px;
}

ul#help li {
	display: inline;
	list-style: none;
}

ul#help a,
ul#help a.active {
	display: block;
	float: right;
	text-align: center;
	text-decoration: none;
	text-transform:uppercase;
	font-size: 80%;
	font-weight:800;
	color: #1C1C1C;
	margin: 0px 2px 0 0;
	padding: 2px 8px 2px 8px;
}

ul#help a.active,
ul#help a.active:hover {
	background: #FFCC00;
	margin: 0 3px 0 0;
	padding-top: 5px;
	padding-bottom: 5px;
}

ul#help a {
	background: #9D8002;
	border-bottom: none;
	margin: 0px 3px 0 0;
	padding: 5px 8px 5px 8px;
	color:#1C1C1C;
}

ul#help a:hover {
	margin: 0 3px 0 0;
	background-color:#FFCC00;
	color:#1C1C1C;
	padding-top: 5px;
}


/* Article Buttons */


#buttons .form_button {
	line-height:20px;
	text-transform:uppercase;
	background-color:#3D3D3D;
	padding: 0 6px;
	margin-right: 6px;
	color:#FFF;
	font-weight: bold;
	font-size: 100%;
	border:none;
	font-family:Arial, Helvetica, sans-serif;
}

#button_wrapper {
	margin: 0;
	padding: 0;
	margin-bottom:10px;
	float:left;
	width:960px;
	position:relative;
}

#buttons {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
}

#buttons li {
	margin:0;
	float:left;
	margin-right:10px;
}

#buttons li a:link,
#buttons li a:visited {
	display:block;
	color: #fff;
	background-color:#3D3D3D;
	text-decoration: none;
	line-height:25px;
	padding: 0 10px;
	margin-right: 10px;
	
}

#buttons li a:hover,
#buttons li a:active {
	background-color:#ffcc00;
	color:#000;
	height:25px;
}


#back_button {
	position:absolute;
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left:auto;
	margin-right:auto;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
	width:70px;
	right: -13px;
}


#back_button li {
	margin:0;
	float:left;
}

#back_button li a:link,
#back_button li a:visited {
	display:block;
	color: #fff;
	background-color:#3D3D3D;
	text-decoration: none;
	line-height:25px;
	padding: 0 10px;
	
}

#back_button li a:hover,
#back_button li a:active {
	color:#000;
	background-color:#ffcc00;
	height:25px;
}



/* Article Entry */

.title {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	clear: both;
}

.casestudy_title {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
}

.casestudy_type {
	width: 455px;
	background-color:#666;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:right;
}

.article_date {
	width: 500px;
	background-color:#666;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
}


.company_selector {
	width: 940px;
	background-color:#666;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	color:#fff;
}

.article_summarybox {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	height:50px;
}


.article_summarybox_light {
	width: 455px;
	background-color:#666;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	height:50px;
}


.article_quotebox {
	width: 455px;
	background-color:#666;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	height:131px;
}

.article_summarybox_r {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:right;
	height:50px;
}


.article_summarybox_r_light {
	width: 455px;
	background-color:#666;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:right;
	height:50px;
}

.profilebox {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float: left;
	margin-right: 10px;
}

.profilebox_alt {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float: left;
}

.profilebox_full {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	clear: both;
}

.profilebox_full .box {
	width:80%;
}

.select_company {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	clear: both;
}


.article_summary {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	clear: both;
}

.article {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
}

.faq_question {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
}

.faq_answer {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
}

.related_images {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	margin-right:10px;
}

.related_downloads {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
}


.map {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	margin-right:10px;
	height:300px;
}

.location {
	width: 455px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	height:300px;
}




#info {
	position:absolute;
	left: 930px;
	top: 12px;
}

#info2 {
	position:absolute;
	right:12px;
	top: 12px;
}

#info3 {
	position:absolute;
	left: 444px;
	top: 11px;
}

.box {
	border: 1px solid #000;
	background-color:#fff;
	color:#000;
	padding: 3px;
}


.box_big_search {
	border: 1px solid #000;
	background-color:#fff;
	color:#000;
	padding: 4px;
	font-size:110%;
	margin-right:12px;
	float: left;
}

.input_fields {
	color:#000;
}

#rubbish_bin {
	position:absolute;
	left: 445px;
	top: 39px;
}

#tools {
	position:absolute;
	left: 414px;
	top: 11px;
}

#calendar {
	position:absolute;
	left: 345px;
	top: 35px;
}

/* Article Hovers */

.title:hover {
	background-color:#FFCC00;
}

.article_summarybox:hover {
	background-color:#FFCC00;
}

.article_summarybox_r:hover {
	background-color:#FFCC00;
}

.article_summary:hover {
	background-color:#FFCC00;
}

.article:hover {
	background-color:#FFCC00;
}

.related_images:hover {
	background-color:#FFCC00;
}

.related_downloads:hover {
	background-color:#FFCC00;
}

.faq_question:hover {
	background-color:#FFCC00;
}

.faq_answer:hover {
	background-color:#FFCC00;
}

.tags:hover {
	background-color:#FFCC00;
	color:#333333;
}

.profilebox:hover {
	background-color:#FFCC00;
	color:#333333;
}

.profilebox_alt:hover {
	background-color:#FFCC00;
	color:#333333;
}

.profilebox_full:hover {
	background-color:#FFCC00;
	color:#333333;
}

/* Article copy in */


.copy_in {
	width: 80%;
	padding:5px;
	background-color:#505050;
	border: 1px solid #000;
}

.copy_in h2 {
	color:#fff;
	padding:0;
	margin:0;
	font-size:130%;
}

.copy_in p {
	color:#fff;
	padding:0;
	margin:0;
	font-size:95%;
	line-height: 1.3em;
}


.camera_image {
	width: 80%;
	padding:5px;
	background-color:#505050;
	border: 1px solid #000;	
	margin: 10px 0 0 0;
	background-image:url(../images/icons/camera_icons.png);
	background-repeat:no-repeat;
	background-position: 5px 5px;
	height:15px;
	padding-left:35px;
}

.camera_image p {
	color:#fff;
	padding:0;
	margin:0;
	font-size:95%;
	line-height: 1.3em;
}

.related_download {
	width: 80%;
	padding:5px;
	background-color:#505050;
	border: 1px solid #000;	
	margin: 10px 0 0 0;
	background-image:url(../images/icons/related_downloads_icon.png);
	background-repeat:no-repeat;
	background-position: 5px 5px;
	height:15px;
	padding-left:35px;
}

.related_download p {
	color:#fff;
	padding:0;
	margin:0;
	font-size:95%;
	line-height: 1.3em;
}



/* Related images */



.related_images_table {
	margin: 20px 0 0 0;
	width: 100%;
	border-collapse: collapse;
	font-size: 90%;
	float:left;
	background-color:transparent;
}

.related_images_table td {
	padding: 0;
	text-align:left;
	height:30px;
}


.dashboard_table .right {
	text-align:right;
}

div.messages {
	clear: both;
	display: block;
	padding: 20px;
	color: #fff;
	background-color:#000;
	font-size:140%;
	border:1px solid #ffcc00;
	margin-bottom:15px;
}

div.messages ul {
	list-style:none;
}




/* Training */

#training {
	margin: 20px 0 0 0;
	width: 100%;
	border-collapse: collapse;
	float:left;
	background-color:transparent;
}









/* - - - - - - - Image Panels - - - - - - - */

.tabs_holder {
	margin: 0;
	width: 100%;
	height:160px;
	border-collapse: collapse;
	float:left;
}




/* - - - - - - - Browse Image Library - - - - - - - */



#browse_library_items {
	width:100%;
	margin:0;
	position:relative;
	clear:both;
	background-color:none;
}

#library_box{
	width: 306px;
	height:250px;
	float:left;
	margin:0 20px 20px 0;
	position:relative;
}

#library_box_end {
	width: 306px;
	height:250px;
	float:right;
	margin:0 0 20px 0;
	position:relative;
	background-color:#3E3E3E;
}

#library_box_two{
	width: 306px;
	height:250px;
	float:left;
	position:relative;
	background-color:#3E3E3E;
}

.image_holder {
	width:276px;
	height:89px;
	padding:5px;
	background-color:#fff;
	float:left;
	margin:10px 10px 10px 10px;
}

#library_box_two h3 {
	display:block;
	width:286px;
	font-size:18px;
	color:#fff;
	font-weight:500;
	margin:0 auto 10px auto;
	border-bottom:1px solid #fff;
}


#library_box_two h3 a {
	color:#fff;
	text-decoration:none;
}


#library_box_two h3 a:hover {
	color:#ffcc00;
	text-decoration:none;
}


#library_box_two p {
	display:block;
	width:286px;
	font-size:13px;
	color:#fff;
	margin:0 auto 5px auto;
	text-align:left;
}

#library_box_two p a {
	color:#fff;
	font-weight:500;
	text-decoration:none;
}

#library_box_two p a:hover {
	color:#ffcc00;
}



#big_search_btn {
	list-style: none;
	margin: 1px 0 0 0;
	padding: 0;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 140%;
}


#big_search_btn li {
	margin:0;
	float:left;
	margin-right:10px;
}

#big_search_btn li a:link,
#big_search_btn li a:visited {
	display:block;
	color: #000;
	background-color:#ffcc00;
	text-decoration: none;
	line-height:25px;
	padding: 0 10px;
	
}

#big_search_btn li a:hover,
#big_search_btn li a:active {
	color:#000;
	background-color:#fff;
	height:25px;
}





#library_edit_btn {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 140%;
}


#library_edit_btn li {
	margin:0;
	float:left;
	margin-right:10px;
}

#library_edit_btn li a:link,
#library_edit_btn li a:visited {
	display:block;
	color: #000;
	background-color:#fff;
	text-decoration: none;
	line-height:25px;
	padding: 0 10px;
	
}

#library_edit_btn li a:hover,
#library_edit_btn li a:active {
	color:#000;
	background-color:#ffcc00;
	height:25px;
}




/* image Library Tags */

#tags {
	list-style:none;
	float: left;
	width:286px;
	padding:0 0 0 10px;
	margin:0;
	text-align:left;
}

#tags li {
	color: #fff;
	font-size: 13px;
	display:inline;
}

#tags li a:link,
#tags li a:visited {
	color: #fff;
	text-decoration: none;
}

#tags li a:hover,
#tags li a:active {
	color:#ffcc00;
	font-weight:500;
}




.datatable_image_browse {
	margin: 10px 10px 0 10px;
	width: 286px;
	border-collapse: collapse;
	font-size: 90%;
	float:left;
}

.datatable_image_browse td {
	padding: 0;
	text-align:left;
	height:20px;
}

.datatable_image_browse img {
	padding: 0;
	border:none;
	margin:0;
}










/* - - - - - - - - Edit panels Page - - - - - - - - - */

#edit_panel_bar {
	padding: 10px;
	margin: 0;
	height:25px;
	background-color:#666;
	text-align:left;
}


#general_btn {
	list-style: none;
	margin: 0;
	padding: 0;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 100%;
}


#general_btn li {
	margin:0;
	float:left;
	margin-right:10px;
}

#general_btn li a:link,
#general_btn li a:visited {
	display:block;
	color: #fff;
	background-color:#3D3D3D;
	text-decoration: none;
	line-height:25px;
	padding: 0 10px;
	
}

#general_btn li a:hover,
#general_btn li a:active {
	color:#000;
	background-color:#ffcc00;
	height:25px;
}



/* - Edit panels nav - */


#panel_nav_container {
	width:270px;
	background-color:#3D3D3D;
	height:790px;
	border-right:10px solid #ffcc00;
	margin-right:10px;
	float:left;
}

#navigation {
	width:270px;
}

/* - 1st - */

#navigation ul {
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
}

#navigation li {
	
}


#navigation li a:link, #navigation li a:visited {
	font-size:160%;
	display:block;
	padding:0.5em 0 0.5em 0.5em;
	background-color:none;
	color:#fff;
	text-decoration:none;
} 

#navigation li a:hover {
	background-color:#ffcc00;
	color:#000;
}

.on {
	background-color:#ffcc00;
	color:#000;
}



/* - 2nd - */


#navigation ul ul {
	margin:0;
		
}

#navigation ul ul li {
	margin:0;
}

#navigation ul ul a:link, #navigation ul ul a:visited {
	background-color:none;
	color:#ccc;
	font-size:120%;
	padding-left:20px;
} 

#navigation ul ul a:hover {
	color:#000;
}

.off {
	background-color:#3D3D3D;
	color:#fff;
}

.black {
	color:#000;
}
	



/* - 3rd - */


#navigation ul ul ul {
	margin:0;
		
}

#navigation ul ul ul li {
	margin:0;
}

#navigation ul ul ul a:link, #navigation ul ul ul a:visited {
	background-color:none;
	color:#999;
	font-size:105%;
	padding-left:30px;
} 


#navigation ul ul ul a:hover {
	color:#000;
}

.on_three {
	background-color:#3D3D3D;
	color:#fff;
	background-image:url(../images/icons/sub_nav_arrow_white.gif);
	background-repeat:no-repeat;
	background-position:19px 8px
}



/* - Panel holder - */


#panel_holder {
	width:670px;
	background-color:transparent;
	height:730px;
	float:left;
}






.panels_no {
	margin: 0;
	float:left;
	width:90px;
}

.panels_no td {
	height:190px;
	background-color:#666;
	padding:0;
}





.panels {
	margin:0;
	float:left;
	width:580px;
	padding:0;
	height:190px;
}

.panels td {
	height:190px;
	background-color:#3d3d3d;
	padding:0;
	margin:0;
}







.big_number {
	display:block;
	text-align:center;
	color:#fff;
	font-size:70px;
	letter-spacing:-5px;
}

.panels img {
	border:5px solid #fff;
	float:left;
	margin-bottom:5px;
	float:left;
	margin-right:10px;
	margin-top:0;
}

#panel {
	padding:5px 10px 0px 10px;
	border:2px solid #3d3d3d;
	margin:0;
}

#panel:hover {
	border:2px dashed #ffcc00;
}

#panel p {
	display:block;
	clear:both;
	margin:0;
	padding:0;
	font-size:12px;
	color:#fff;
	text-align:left;
}



/* - Browse Button - */



#browse_btn {
	list-style: none;
	margin: 10px 0 0 0;
	padding: 0;
	background-color: transparent;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 110%;
	float:left;
}


#browse_btn li {
	margin:0;
	float:left;
	margin-right:10px;
	display:inline-block;
}

#browse_btn li a:link,
#browse_btn li a:visited {
	color: #fff;
	background-color:#292929;
	text-decoration: none;
	line-height:25px;
	padding: 5px 10px;
	
}

#browse_btn li a:hover,
#browse_btn li a:active {
	color:#000;
	background-color:#ffcc00;
	height:25px;
}






















/* Create Image */

#create_image {
	padding: 0;
	margin: 0;
	list-style:none;
	width:960px;
	float: left;
	display:block;
	position:relative;
}

#create_image li {
	font-weight:700;
	text-align:left;
	font-size:220%;
	font-weight:lighter;
	height: 50px;
	background-color:#ffcc00;
}

#create_image li a:link,
#create_image li a:visited {
	color: #323232;
	display: block;
	text-decoration: none;
	padding: 10px 0 0 10px;
	background-image:url(../images/icons/create_news_icon.gif);
	background-position:right;
	background-repeat:no-repeat;
	
}

#create_image li a:hover,
#create_image li a:active {
	color:#fff;
}

/* Edit Image */

#edit_image {
	padding: 0;
	margin: 0;
	list-style:none;
	width:960px;
	float: left;
	display:block;
	position:relative;
}

#edit_image li {
	font-weight:700;
	text-align:left;
	font-size:220%;
	font-weight:lighter;
	height: 50px;
	background-color:#ffcc00;
}

#edit_image li a:link,
#edit_image li a:visited {
	color: #323232;
	display: block;
	text-decoration: none;
	padding: 10px 0 0 10px;
	background-image:url(../images/icons/edit_image_icon.gif);
	background-position:right;
	background-repeat:no-repeat;
	
}

#edit_image li a:hover,
#edit_image li a:active {
	color:#fff;
}

/* Browse Image */

#browse_image {
	padding: 0;
	margin: 0;
	list-style:none;
	width:960px;
	float: left;
	display:block;
	position:relative;
}

#browse_image li {
	font-weight:700;
	text-align:left;
	font-size:220%;
	font-weight:lighter;
	height: 50px;
	background-color:#ffcc00;
}

#browse_image li a:link,
#browse_image li a:visited {
	color: #323232;
	display: block;
	text-decoration: none;
	padding: 10px 0 0 10px;
	background-image:url(../images/icons/browse_image_icon.gif);
	background-position:right;
	background-repeat:no-repeat;
	
}

#browse_image li a:hover,
#browse_image li a:active {
	color:#fff;
}


/* Browse */

.browse_images {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	color:#FFFFFF;
}

.input_fields_browse {
	color:#fff;
	width:500px;
}

/* Tags */

.tags {
	width: 940px;
	background-color:#3D3D3D;
	padding:10px;
	text-align:left;
	position:relative;
	margin-bottom:10px;
	float:left;
	color:#FFFFFF;
}

.tags p {
	padding:0;
	margin:0;
}

/* Thumbnail */

.thumbnail {
	width:276px;
	height:89px;
	padding:5px;
	background-color:#fff;
	float:left;
	margin:10px 10px 10px 0;
}
	
	
#more-btn {
  	display: block;
  	width:60px;
  	height: 25px;
  	background:url(../images/edit_btn_full.png) no-repeat 0 0;
}

#more-btn:hover { 
  	background-position: 0 -25px;
}

#more-btn span {
  	display: none;
}

.details {
	float:left;
}

.detail_title {
	color:#FFF;
	float:left;
}

.detailsinput {
	float:left;
}

/* Discussions */

#sortbybar {
	width:946px;
	background-color:#3D3D3D;
	padding:7px;
	margin: 0 0 20px 0;
}

#sortbybar p {
	text-align:left;
	margin:0 7px 0 0;
	padding:0;
	float:left;
}

.clear_sort {
	clear:both;
}

#add-new-dataroom {
	width:500px;
	text-align:left;
	padding:10px;
	height:340px;
}

#add-new-dataroom .clear {
	clear:both;
	height:3px;
}

#add-new-dataroom .clear_alt {
	clear:both;
	height:45px;
}

#add-new-dataroom .hdr {
	font-size: 22px;
	padding-left: 0px;
	margin:0;
	color: white;
	text-align:left;
}

#add-new-dataroom p {
	color:#FFF;
}

#add-new-dataroom .ident {
	font-size:13px;
	padding-left: 0px;
	margin-left: 5px;
	color: white;
	text-align:left;
}

#add-new-dataroom .comment {
	font-size:13px;
	padding-left: 0px;
	margin-left: 5px;
	color: white;
	text-align:left;
}

#add-new-dataroom a {
	padding:0;
	margin:0;
	width:auto;
	background-color:none;
}

#add-new-dataroom .articletitle {
	font-size:12px;
	padding:1px 0px;
	margin:0 5px;
	text-align:left;
}

#add-new-dataroom a.articletitle {
	color:#ffcc00;
	text-decoration:none;
	background-color:none;
	background:url(../images/newweb.jpg) 0 0 no-repeat;
	padding-left:20px;
}

#add-new-dataroom a.articletitle:hover {
	color:#fff;
	text-decoration:none;
	background-color:none;
}

#add-new-dataroom #usercomment {
	width:480px;
	height:200px;
	padding:10px;
	margin:0;
}

#publishbox {
	padding:5px 0 0 0;
	margin:50px 0 0 0;
	width:500px;
	height:30px;
	border-top:1px solid #555;
	position:relative;
}

#publishbox #publish-btn {
	display: block;
	width:90px;
	height:25px;
	background:url(../images/btns/publish_btns.gif) -90px 0 no-repeat;
	position: absolute;
	bottom:0px;
	right:0px;
}

#publishbox #publish-btn:hover { 
    background-position: 0 0px;
}

#publishbox #publish-btn span {
    display: none;
}

#publishbox #unpublish-btn {
	display: block;
	width:90px;
	height:25px;
	background:url(../images/btns/unpublish_btns.gif) -90px 0 no-repeat;
	position: absolute;
	bottom:0px;
	right:100px;
}

#publishbox #unpublish-btn:hover { 
    background-position: 0 0px;
}

#publishbox #unpublish-btn span {
    display: none;
}


#publishbox #cancel-btn {
	display: block;
	width:90px;
	height:25px;
	background:url(../images/btns/cancel_btns.gif) -90px 0 no-repeat;
	position: absolute;
	bottom:0px;
	right:100px;
}

#publishbox #cancel-btn:hover { 
    background-position: 0 0px;
}

#publishbox #cancel-btn span {
    display: none;
}

#publishbox #delete-btn {
	display: block;
	width:22px;
	height:26px;
	background:url(../images/icons/bin_icon.gif) 0 0 no-repeat;
	position: absolute;
	bottom:0px;
	right:200px;
}

#publishbox #delete-btn:hover { 
    background-position: 0 0px;
}

#publishbox #delete-btn span {
    display: none;
}

#generic_dropdown {
	float:left;
	padding:0;
	margin:0 10px 0 0;
	background-color:#FFF;
	border:1px solid #000;
	-moz-border-radius:1px;
	border-radius:1px;
	width: 157px;
}

#generic_dropdown_large {
	float:left;
	padding:0;
	margin:0;
	background-color:#FFF;
	width:200px;
	overflow:hidden;
	border:none;
}


#add-new-name,
#add-new-type,
#add-new-url,
#add-new-expirydate,
#add-new-request {
	padding:0 0 0 0;
	margin:20px 0 0 0;
	clear:left;
	height:20px;
}

#add-new-name p,
#add-new-type p,
#add-new-url p,
#add-new-expirydate p,
#add-new-request p {
	float:left;
	padding:12px 0 0 0;
	margin:0;
	font-size:12px;
	width:130px;
}

#add-new-name-input,
#add-new-url-input {
	padding:3px;
	margin:10px 0 0 0;
	border:none;
	height:10px;
	width:150px;
}

#add-new-type #generic_dropdown {
	margin-top:10px;
}

#add-new-expirydate .box {
	margin:0;
	width:154px;
	border:none;
	padding: 0px 0px 0px 2px;
	height:17px;
}

.radiotable {
	padding:10px 0 0 0;
	margin:0;
	width:110px;
}

.radiotable td {
	padding:0;
	margin:0;
	color:#FFF;
	font-size:12px;
}

