@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

a img {
	border:none;
}

body {
	color: #000;
	background-color:#1C1C1C;
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align:Left;
	font-size: 0.75em;
}

h1 {
	font-size:400%;
	color: #fff;
	font-weight:100;
	padding: 0;
	margin:50px 0 0 0;
	text-transform:capitalize;
	text-align:left;
	clear: left;
	text-decoration:none;
	width:100%;
}

h2 {
	font-size:150%;
	color: #fff;
	font-weight:lighter;
	text-align:left;
	clear: left;
	width:100%;
	margin:0 0 10px 0;
}

h2 a {
	color: #fff;
	font-weight:lighter;
	text-align:left;
	clear: left;
	width:100%;
	margin:0 0 10px 0;
	text-decoration:none;
}

h2 a:hover {
	text-decoration:none;
	color:#ffcc00;
}

h3 {
	font-size:120%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 10px 0;
	line-height:1.3em;
}

h4 {
	font-size:125%;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 10px 0;
}

h4 	a:link,
	a:visited {
	color: #fff;
	text-decoration:none;
}

h4  a:hover,
	a:active {
	color: #fff;
	text-decoration:underline;
}

h4.cs_dashboard {
	padding:0;
	margin:0;
}

h3 .yellow_text {
	color:#ffcc00;
}

h5 {
	font-size: 160%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 5px 0;
}

h5.cs_type {
	color:#999999;
	font-size:125%;
	padding:0;
	margin:0 0 10px 0;
}

p {
	color:#FFF;
	padding:0;
	margin:0;
}

ul{
	list-style:none;
}

.clear{
	clear:both;
}

.floatRight{
	float:right;
}

.margTop{
	margin-top:20px;
}

#header {
	height: 127px;
	background:url(../images/hdr_bg.jpg) repeat-x top #FFCC00;
}

#header_wrapper {
	width:960px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	height:120px;
}

#logo {
	width:185px;
	height:38px;
	margin-top: 40px;
	float:left;
}

#body_wrapper {
	width: 960px;
	margin-left:auto;
	margin-right:auto;
}

/* Username */

#name {
    position:absolute;
    padding:0;
    margin:0;
    list-style:none;
    float: left;
    /*width: 170px;*/
    left:0;
    top: 95px;
    text-align:left;
    display:inline-block;
    
}

#name li {
    color:#ffcc00;
    display:block;
    float:left;
    
}

#name ul.the_menu li{
    display:block;
    font-size:12px;
    width:100%;
}

#name .username{
    background-color:transparent;
    padding-left:4px;
    padding-right:5px;
    padding-top:5px;
    padding-bottom:5px;
    margin-left:5px;
    display:inline;
    text-indent:5px;
    z-index:9996;
    /*border-top:#1c1c1c solid 1px;
    border-left: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;*/
    
    }
.username img{margin-left:4px;}
#name .white {
    color:#fff;
}

.downarrow_1{
    text-indent:-9999px;
    background:url(../images/down-arrow-1.png) center no-repeat;
    width:7px;
    cursor:pointer;
    margin-left:10px;
    margin-right:2px;
    display:inline-block;
            }
            
.settings_1{
    text-indent:-9999px;
    background:url(../images/icons/settings.png) center no-repeat;
    width:13px;
    height:12px;
    cursor:pointer;
    margin-top:0px;
    display:inline-block;
}

.the_menu {
    background-color:#383838;
    display:none;
    width:185px;
    text-align:left;
    border-top:1px solid #1c1c1c;
    border-bottom: 1px solid #1c1c1c;
    border-left: 1px solid #1c1c1c;
    border-right: 1px solid #1c1c1c;
    position:absolute;
    z-index:9000;
    padding-left:10px;
    text-transform:none;
    margin-left:5px;
    margin-right:5px;
    font-size:14px;
    margin-bottom:10px;
    margin-top:2px;
    padding-bottom:10px;    
    min-height:0px;
    top:93px;
    left:0px;
}

.the_menu li {
    
    
}

.the_menu li a {
    padding-top:5px;
    color:#FFFFFF; 
    text-decoration:none; 
    padding:1px; 
    display:block;
}

.the_menu li a:hover {
    padding:1px;
    font-weight:bold;
    color: #666666;
}

span.white1{
    display:block;
    color:#ffffff;
    text-transform:none;
    font-size:18px;
    margin-top:5px;
    margin-bottom:10px;
    border-bottom:1px solid #666666;
    width:150px;
    height:25px;

}

.the_menu_2{
    float:right;
    margin-top:22px;
}
.the_menu_1{ margin-top:22px;}

a.whitelink_1{
    color:#fff;
    font-size:12px;
    font-weight:bold;
    margin-top:0px;
}

div ul.over_lay{
    text-align:left;
    padding-left:5px;
    font-size:15px;
    color:#ffffff;
    padding-top:5px;
    padding-right:150px;
    }
    
div ul.over_lay li{
    margin-bottom:10px;
    }   


    
.splbl{display:block;
    width:130px;
    margin-right:5px;
    float:left;}

/* breadcrumb */

#breadcrumb {
	padding-left: 2px;
	margin: 0;
	list-style:none;
	margin-top:20px;
	margin-bottom:10px;
}

#breadcrumb li {
	color: #747474;
	font-size: 90%;
	display:inline;
}

#breadcrumb li a:link,
#breadcrumb li a:visited {
	color: #747474;
	text-decoration: none;
}

#breadcrumb li a:hover,
#breadcrumb li a:active {
	color:#ffcc00;
}

#breadcrumb li a.active {
	color:#ffcc00;	
}

/* Add Property */


#create_news {
	padding: 0;
	margin-top: 20px;
	list-style:none;
	width:960px;
}

#create_news li {
	font-weight:700;
	text-align:left;
	font-size:220%;
	font-weight:lighter;
	height: 50px;
	background-color:#ffcc00;
}

#create_news li a:link,
#create_news li a:visited {
	color: #323232;
	display: block;
	text-decoration: none;
	padding: 10px 0 0 10px;
	background-image:url(../images/icons/create_news_icon.gif);
	background-position:right;
	background-repeat:no-repeat;
	
}

#create_news li a:hover,
#create_news li a:active {
	color:#fff;
}

#plus_icon {
	position:absolute;
	left: 918px;
	top: 11px;
}

/*-----------------------------Search-------------------*/

#bigsearch{
	width:720px;
	margin:40px auto;
	overflow:hidden;
}

.dashboardsearch {
	border: 1px solid #000;
	background-color:#fff;
	color:#c2c2c2;
	padding: 4px;
	font-size:19px;
	float: left;
	height:30px;
	width:555px;
	margin-right:10px;
}

#dash_search_btn {
    font-size: 140%;
    font-weight: bold;
    list-style: none outside none;
    text-transform: uppercase;
	float:right;
}

#dash_search_btn a:link,
#dash_search_btn a:visited {
	display:block;
	color: #000;
	background-color:#ffcc00;
	text-decoration: none;
	line-height:25px;
	padding: 7px 11px;
}

#dash_search_btn a:hover,
#dash_search_btn a:active {
	color:#000;
	background-color:#fff;
	height:25px;
}

/*-------------------------Admin Side Left----------------------*/

#adminSideleft{
	float:left;
	text-align:left;
	width:220px;	
	
}
.shadedtxt{
	color:#666666;
	}
	
.hdr-browse{
		font-size:17px;
	padding:10px;
}
.hdr-menu{
	font-size:14px;
	padding:10px 5px;
}
	
.smallboxesleft a:link, .smallboxesleft a:visited{
	color:#747474;
	text-decoration:none;}

.smallboxesleft a:hover, .smallboxesleft a:active{
	color:#fff;
	}	
	
dl.smallboxesleft{
	background-color:#3d3d3d;
	text-align:left;
	padding-left:0px;
	margin:0 0 5px 0;
	font-size:17px;
	color:#ffffff;
	
	}
	
.filter-menu{
	margin-top:10px;
	font-size:14px;
	color:#000;
	padding:10px;
	background-color:#FFCC00;
}

.rows{
	background-color:#2c2c2c;
	text-align:left;
	padding-left:5px;
	margin-left:0;
	font-size:11px;
	padding-top:5px;
	padding-bottom:2px;
	color:#747474;
	}
	
/*--admin side menu--*/

#adminSideRight{
	width:720px;
	float:right;
}



#adminSideRight ul li strong{
	font-size:20px;
}


.yellowTxt{
	color:#ffcc00;
	}

.whiteTxt{
	color:#fff;
}

.cntbox1 a:link,.cntbox1 a:visited{
	color:#999;
	margin-left:5px;
	font-size:12px;
	padding-top:0px;
	margin-top:-3px;
	text-decoration:none;
	}
	
	
.whiteTxt1{
	
	margin-top:50px;}
	
.correctbut, .correctbut1{
	float:right;
	background:url(../images/icons/icon_tick.png) center no-repeat;
	width:29px;
	height:24px;
	cursor:pointer;
	margin-right:20px;
	
	}
	
	
.correctbut1{
	float:left;
	margin-top:10px;
	margin-left:5px;
	}	

.correctbut1:hover{
		background:url(../images/icons/icon_tick_hover.png) center no-repeat;
	}
.wrongbut, .wrongbut1{
	background:url(../images/icons/icon_cross.png) center no-repeat;;
	float:right;
	width:29px;
	height:24px;
	cursor:pointer;
	margin-right:20px;
	}	

.wrongbut:hover, .wrongbut1:hover{	
background:url(../images/icons/icon_cross_hover.png) center no-repeat;}

	.wrongbut1{
	float:left;
	margin-top:10px;
	margin-left:5px;
	}		
		
		
	
.yellowBound{
	width:713px;
	overflow:hidden;
	border-style:solid;
	border-color:#FFCC00;
	border-width:1px;
	color:#ffffff;
	font-size:17px;
	font-weight::bold;
	margin-top:15px;
	padding-left:5px;
	padding-top:10px;
	}


.yellowunBound{
	width:713px;
	overflow:hidden;
	background-color:#2c2c2c;
	margin-top:10px;
	color:#ffffff;
	font-size:17px;
	font-weight::bold;
	margin-top:15px;
	padding-left:5px;
	padding-top:10px;
	}
	
.yellowunBound p{
	line-height:20px;
}
	
.yellowBound:hover,
.yellowunBound:hover{
	background:#666;
	}	
	
.yellowunBound1{
	background-color:#3d3d3d;
	padding:7px;
	width:704px;
	overflow:hidden;
	}
	
.yellowunBound1 .floatRight{
	margin-top:4px;
}

.yellowunBound .floatRight,
.yellowBound .floatRight{
	margin-bottom:10px;
}
	
.yellowunBound1 a,
.yellowunBound a,
.yellowBound a,
.over_lay a{
	color:#000;
	text-decoration:none;
	padding:5px;
	margin-left:7px;
	font-size:14px;
	font-weight:bold;
	background-color:#fff;
}

.whiteButton{
	color:#000;
	text-decoration:none;
	padding:5px;
	font-size:14px;
	font-weight:bold;
	background-color:#fff;
	border:0;
}

.yellowunBound1 a:hover,
.yellowunBound a:hover,
.yellowBound a:hover,
.over_lay a:hover,
.yellowunBound1 a.active{
	background-color:#ffcc00;
}

	

a.trashbut{
	display:inline-block;
	text-indent:-9999px;
	background:url(../images/icons/bin_icon.png) center no-repeat;
	width:29px;
	height:24px;
	margin-right:10px;
	padding:10px 0 0 0;
	}
	
a.trashbut:hover{
	filter:alpha(opacity=60);
    opacity: 0.6;
	}

.selectbox_1{
	float:left;
	width:200px;
	overflow:hidden;
	border:1px solid #fff;
	height:25px;
	font-size:14px;
	color:#000;
	padding:2px;
}

.selectbox_1 option{
	padding:2px;
}

.hdr-menu-1{
	color:#606060;
	font-size:14px;
	padding-left:5px;
}

.pagenumber{
	color:#ffffff;
	float:right;
	text-align:right;
	cursor:pointer;
	margin-top:20px;
	padding-left:0px;	
	}
	
	.pagenumber ul li{
		display:inline;		
		}
		
.pagenumber a{
	font-size:12px;
	padding:5px;
}

.pagenumber ul li a:link, .pagenumber ul li a:visited{
	color:#fff;
	text-decoration:none;
	}
	
.pagenumber ul li a:hover,
.pagenumber ul li a.activepgno{
	background-color:#FFCC00;
	color:#000;
	}

/*---------------------------Overlay--------------------------*/

ul.over_lay {
    color: #FFFFFF;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 10px;
    text-align: left;
	list-style:none;	
}

.over_lay li{
	font-size:12px;
	margin-bottom:10px;
}

.over_lay li.hdr-browse{
	font-size:17px;
	padding-left:0;
	padding-bottom:10px;
}

.over_lay .selectbox_1{
	width:300px;
	margin-bottom:10px;
	clear:both;
}

.over_lay .floatRight{
	margin-right:-90px;
}

a.cancel{
	color:#FFF;
	background-color:#3D3D3D;
}

a.add{
	background-color:#ffcc00;
}

a.add:hover{
	background-color:#FFF;
}

/*--------------------------Add Company------------------------*/

#addCompany .yellowunBound1{
	width:945px;
	margin:20px 0;
}

#addCompany .yellowunBound1 .floatRight{
	margin-bottom:4px;
}

#addCompany .filter-menu{
	margin-top:0;
}

#addCompany .smallboxesleft{
	border-right:5px solid #ffcc00;
}

#addCompany #adminSideRight{
	background-color:#3d3d3d;
	padding:10px;
	width:700px;
	position: relative;
}

.addDetails{
	color:#FFF;
}

.addDetails dt{
	width:150px;
	float:left;
	padding:5px;
}

.addDetails input#default {
	width:350px;
	color:#999;
	padding:4px;
	margin-bottom:10px;
}

.addDetails input#names{
	width:133px;
	color:#999;
	padding:4px;
	margin-bottom:10px;
}

.addDetailsFoot{
	border-bottom:1px solid #FFF;
	padding-bottom:10px;
	margin-bottom:20px;
}
	
.CompanySelectbox{
	width:200px;
	border:1px solid #fff;
	height:30px;
	font-size:14px;
	color:#c2c2c2;
	padding:4px;
	margin-bottom:10px;
}

#formContainer{
	width:960px;
	position:relative;	
	background:url(../images/formContainerIMG.jpg) repeat-y left;
}



/*----------------------------View Individual------------------*/

#navigation{
	width:220px;
	float:left;
}

#navigation li a:link, #navigation li a:visited {
    color: #FFFFFF;
    display: block;
    font-size: 160%;
    padding: 0.5em 0 0.5em 0.5em;
    text-decoration: none;
}

#navigation ul ul a:link, #navigation ul ul a:visited {
    color: #CCCCCC;
    font-size: 120%;
    padding-left: 20px;
}

#navigation ul ul ul a:link, #navigation ul ul ul a:visited {
    color: #999999;
    font-size: 105%;
    padding-left: 30px;
}

#navigation ul a.active,
#navigation ul ul a.active,
#navigation ul ul a:hover,
#navigation ul ul ul a:hover,
#navigation li a:hover{
	background-color:#ffcc00;
	color:#000;
}

.yellowStrip{
	background-color:#3d3d3d;
	border-right:5px solid #ffcc00;
	height:100%;
	width:215px;
	position:absolute;
}

.indivdual input{
	background-color:#666;
	color:#000;
}

.individualTitle{
		width:96px;
}

 .indivdual .CompanySelectbox{
	border:1px solid #000;
	background-color:#666;
	color:#000;
	float:left;
}

input.FirstName{
	width:112px;
	margin-left:10px;
	float:left;
}

input.LastName{
	width:112px;
	margin-left:10px;
}

#activity{
	margin-top:30px;
	width:720px;
	float:left;
}

#activity ul{
		height:25px;

	list-style:none;
}

#activity li{
	display:inline;
}

#reminder a.head,
#activity li a{
	font-size:14px;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	color:#FFF;
}

#reminder a:hover,
#activity a:hover{
	color:#ffcc00;
}

#reminder a.head,
#activity a.active{
	
	color:#ffcc00;
	background:url(../images/activityArrow.jpg) no-repeat bottom;
}

#reminder dl,
#activity table{
	color:#FFF;
	background-color:#2c2c2c;
}

#reminder dl a,
#activity table a{
	text-decoration:underline;
}

#activity table a.view{
	float:left;
	padding:5px 10px;
}

#reminder dd,
#activity td{
	padding:10px;
}


#activity tr.head{
	font-size:14px;
}

.lgtGrey{
	background-color:#3d3d3d;
}

#reminder{
		margin-top:30px;
	width:220px;
	float:right;
}

#reminder dt{
	font-size:14px;
	padding:10px;
	text-align:right;
}

#reminder dl{
	margin-top:8px;
}

	
/*-----------------------------Footer--------------------------*/

#footer{
	width:100%;
	margin-top:30px;
	border-top:1px #ffcc00 solid;
}

#footer p{
	width:960px;
	margin:0 auto 20px auto;
}

#footer a{
	float:right;
	font-weight:bold;
	padding:5px 10px;
	background-color:#ffcc00;
	text-decoration:none;
	color:#000;
	margin-bottom:20px;
}

/*----------------------------- Add a file --------------------------*/

.marginb {
	margin-bottom:20px;
}


.buttonbox {
	clear:left;
	margin:10px 0 0 0;
	height: 30px;
	position:relative;
}

.addfile {
	clear:left;
	margin:10px 0 0 0;
	height: 30px;
	position: relative;
}

.columnswap {
	clear:left;
	margin:10px 0 0 0;
	height: 30px;
	position: relative;
}

.addfilemore {
	height:60px;
}

.addfile p {
	float:left;
	width:100px;
	padding:5px 0 0 0;
	margin:0;
}

.columnswap p {
	float:left;
	padding:5px 0 0 0;
	margin:0;
}

.description-input {
	width:352px;
	color:#999;
	padding:4px;
	height:50px;
}

.categoriseyourfiles td {
	color:#FFF;
	font-size:11px;
	padding:0 0 10px 0;
}

#generic_dropdown {
	float:left;
	padding:0;
	margin:0 10px 0 0;
	background-color:#FFF;
	border:1px solid #000;
	-moz-border-radius:1px;
	border-radius:1px;
	width: 157px;
}

#generic_dropdown_title {
	float:left;
	padding:0;
	margin:0 10px 0 0;
	background-color:#FFF;
	border:1px solid #000;
	-moz-border-radius:1px;
	border-radius:1px;
	width:60px;
	height: 25px;
}

#email-login-btn {
	display: block;
	width:178px;
	height:25px;
	background:url(../images/btns/emaillogin_btns.gif) -178px 0 no-repeat;
	position: absolute;
	top:0px;
	left:285px;
}

#email-login-btn:hover { 
    background-position: 0 0px;
}

#email-login-btn span {
    display: none;
}

#rows_dropdown {
	float:left;
	padding:0;
	margin:0 10px 0 0;
	background-color:#FFF;
	border:1px solid #000;
	-moz-border-radius:1px;
	border-radius:1px;
	width:50px;
}


/* users */

#listcontainer {
	width:720px;
	float:right;
	margin:0;
	padding:0;
}

.datatable {
	margin: 0 0 10px 0;
	width: 100%;
	border-collapse: collapse;
	font-size: 90%;
	float:left;
	background-color:#2C2C2C;
}

.datatable td {
	padding: 0;
	padding-left: 10px;
	text-align:right;
	height:50px;
}

.datatable tr:hover {
	background-color:#3D3D3D;
	color: #000;
}

.datatable .first {
	text-align: left;
}

.datatable .last {
	padding-right:10px;
}

.datatable .live {
	background-color:#111111;
	color: #000;
	border: 1px solid #ffcc00;
}

.datatable h2 {
	font-size:150%;
	color: #fff;
	font-weight:lighter;
	text-transform:capitalize;
	text-align:left;
	clear: left;
	width:100%;
	margin:0px 0 0 0;
	display:block;
}

.datatable p {
	color: #ffcc00;
	display:block;
	float:left;
	margin: 4px 0 0 0;
}

#sortbybar {
	width:706px;
	background-color:#3D3D3D;
	padding:7px;
	margin: 0 0 20px 0;
	float:right;
}

#reportsbar {
	width:706px;
	background-color:#2C2C2C;
	padding:7px;
	margin:20px 0 0 0;
	float:right;
}

#reportsbar p {
	float:left;
	margin-right:10px;
}

#sortbybar h3 {
	float:left;
	margin:0;
	padding:0 0 0 18px;
	background:url(../images/bulkaction_right.gif) 0 3px no-repeat;
}

#sortbybar h3.down {
	float:left;
	margin:0;
	padding:0 0 0 18px;
	background:url(../images/bulkaction_down.gif) 0 5px no-repeat;
}

#sortbybar h3 a {
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}

#sortbybar h3 a:hover {
	color:#ffcc00;
	text-decoration:none;
}

#checkbox {
	padding:0;
	margin:0 0 0 8px;
	float:left;
}

#bulkactionsbox {
	position:relative;
	border-top:1px solid #666;
	padding: 10px;
	margin: 10px 0 0 0;
	background-color: #232323;
}

#suspend-access-btn {
	display: block;
	width:144px;
	height:25px;
	background:url(../images/btns/suspendaccess_btns.gif) -144px 0 no-repeat;
	position: absolute;
	top:10px;
	right:295px;
}

#suspend-access-btn:hover { 
    background-position: 0 0px;
}

#suspend-access-btn span {
    display: none;
}

#delete-users-btn {
	display: block;
	width:125px;
	height:25px;
	background:url(../images/btns/deleteusers_btns.gif) -125px 0 no-repeat;
	position: absolute;
	top:10px;
	right:159px;
}

#delete-users-btn:hover { 
    background-position: 0 0px;
}

#delete-users-btn span {
    display: none;
}

#send-login-info-btn {
	display: block;
	width:139px;
	height:25px;
	background:url(../images/btns/sendinfo_btns.gif) -139px 0 no-repeat;
	position: absolute;
	top:10px;
	right:10px;
}

#send-login-info-btn:hover { 
    background-position: 0 0px;
}

#send-login-info-btn span {
    display: none;
}

#create-report-btn {
	display: block;
	width:133px;
	height:25px;
	background:url(../images/btns/createreport_btns.jpg) -133px 0 no-repeat;
	padding:0;
	margin:10px 0 0 0;
}

#create-report-btn:hover { 
    background-position: 0 0px;
}

#create-report-btn span {
    display: none;
}

#reportstable {
	padding:0;
	margin:0;
	border-collapse:collapse;
	text-align:left;
}

#reportstable th {
	height:20px;
	color:#000;
	font-size:16px;
	margin:0;
	padding:6px 8px;
	font-weight:lighter;
	background:url(../images/icons/downarrow_icon.gif) #ffcc00 695px 7px no-repeat;
}

#reportstable th.main {
	height:20px;
	color:#fff;
	font-size:13px;
	margin:0;
	padding:8px 8px 6px 8px;
	font-weight:bold;
	background-image:none;
	background-color:#3d3d3d;
}

#reportstable td {
	color:#CCC;
	padding:10px 8px;
}

#reportstable td a {
	color:#ffcc00;
	text-decoration:none;
}

#reportstable td a:hover {
	color:#fff;
	text-decoration:none;
}

#reportstable tr.greyone {
	background-color:#333;
}

#reportstable tr.greytwo {
	background-color:#2A2A2A;
}

#bottom_sort {
height: 35px;
background-color: #4E4E4E;
}

#bottom_sort p {
float: left;
padding: 10px 0 0 10px;
}

#bottom_sort #sort_rows {
float: left;
padding: 6px 6px 0 10px;
margin: 0;
}

#page_sort {
float: right;
height: 35px;
}

#page_sort #next {
width: 18px;
height: 18px;
background:url(../images/btns/next.gif) 0 0 no-repeat;
padding: 0;
margin: 8px 8px 0 8px;
float: right;
border: none;
}

#page_sort #prev {
width: 18px;
height: 18px;
background:url(../images/btns/prev.gif) 0 0 no-repeat;
padding: 0;
margin: 8px 0 0 8px;
float: right;
border: none;
}

#page_sort #next:hover,
#page_sort #prev:hover {
	background-position:0px -18px;
}

#page_sort #next span,
#page_sort #prev span {
	display:none;
}

.addfile #generic_dropdown {
	margin-top:3px;
}

#run-report-btn {
	display: block;
	width:187px;
	height:25px;
	background:url(../images/btns/runreport_btns.jpg) -187px 0 no-repeat;
	position:absolute;
	bottom:0;
	right:0;
}

#run-report-btn:hover { 
    background-position: 0 0px;
}

#run-report-btn span {
    display: none;
}

.greytxt {
	color:#999;
}

.reportsummary th {
	color:#FFF;
	text-align:left;
	padding:0 20px 10px 0;
}

.reportsummary td {
	color:#999;
	text-align:left;
	padding:0 0 10px 0;
}

#edit-report-btn {
	display: block;
	width:50px;
	height:25px;
	background:url(../images/btns/edit_btns.gif) -50px 0 no-repeat;
	position:absolute;
	bottom:10px;
	right:117px;
}

#edit-report-btn:hover { 
    background-position: 0 0px;
}

#edit-report-btn span {
    display: none;
}

#download-report-btn {
	display: block;
	width:97px;
	height:25px;
	background:url(../images/btns/download_btns.gif) -97px 0 no-repeat;
	position:absolute;
	bottom:10px;
	right:10px;
}

#download-report-btn:hover { 
    background-position: 0 0px;
}

#download-report-btn span {
    display: none;
}

#uploadinput {
	width:250px;
}

#uploadnow {
	width:90px;
	background-color:#FFF;
	color:#000;
	border:none;
	font-weight:bold;
	margin:0 0 0 10px;
	padding:6px 0;
}

#uploadnow:hover {
	cursor:pointer;
	background-color:#999;
}

p a {
	color:#ffcc00;
	text-decoration:none;
	
}

p a:hover {
	color:#fff;
	text-decoration:underline;
}

#downarrow_grey_one {
	width:25px;
	height:10px;
	position:absolute;
	bottom:-10px;
	left:10px;
	z-index:2000;
}


#addanother {
	width:270px;
	float:left;
}

#addnow {
	width:70px;
	background-color:#FFF;
	color:#000;
	border:none;
	font-weight:bold;
	margin:0 0 0 10px;
	padding:6px 0;
}

#addnow:hover {
	cursor:pointer;
	background-color:#999;
}

/*----- Column Swap --------*/

#contentbxsmallright{
	float:left;
	text-align:left;
	font-size:17px;
	color:#ffffff;
	width:300px;
	list-style:none;
	padding:0;
	margin:0;
}			
		
#contentbxsmallleft {
	float:left;
	text-align:left;
	font-size:17px;
	color:#ffffff;
	width:322px;
	list-style:none;
	padding:0;
	margin:20px 0 0 0;
}

#contentbxsmallrightimg,
#contentbxsmallleftimg {
	float:left;
	text-align:left;
	font-size:17px;
	color:#ffffff;
	width:322px;
	list-style:none;
	padding:0;
	margin:20px 0 0 20px;
}	

li.hdr-white {
	padding:5px;
	background-color:#FFF;
	color:#333;
}

li.hdr-yellow {
	padding:5px;
	background-color:#ffcc00;
	color:#333;
}

.mapText{
	margin:5px;
}
	
	.hdr-menu ,span.hdr-other{
	font-size:14px;
	padding:10px 5px;
	margin-top:5px;
}

.hdr-browse{
		font-size:17px;
	padding:10px;
}


span.hdr-menu-1{
	color:#606060;
	font-size:14px;
	padding-left:5px;
	
}

span.hdr-menu-2{
	
	font-size:22px;
	padding-left:5px;
	
}

span.hdr-menu-3{
	font-size:22px;
	padding-left:0px;
	margin-left:5px;
	color:#ffffff;
	line-height:40px;
	}
	
.dragSmall{
	font-size:12px;
}

ul.specListL {
		height: 80px;
		overflow-x: hidden;
		overflow-y: scroll;
		font-size:12px;
		width:300px;
		margin:0;
		border:1px solid #fff;
		padding:10px;
		list-style:none;
		background-color:#2C2C2C;
}

ul.specList {
		height: 80px;
		overflow-x: hidden;
		overflow-y: scroll;
		font-size:12px;
		width:300px;
		margin:0;
		border:1px solid #ffcc00;
		padding:10px;
		list-style:none;
		background-color:#2C2C2C;
}

.contentbxsmallrightimg ul.specList{
	border:1px solid #ffcc00;
}

ul.specListL li,
ul.specList li{
	background:url(../images/handle.png) no-repeat;
	padding:3px 0 0 20px;
	height:17px;
	cursor:pointer;
}

a.handle{
	background:url(../images/handle.png) no-repeat;
	cursor:pointer;
	text-indent:-9999px;
	width:10px;
	display:block;
}

.yellowBlock{
	background-color:#ffcc00;
	color:#1b1b1b;
	font-size:22px;
	line-height:40px;
	padding:5px;
	margin-left:5px;
}

/* pages */

#pages {
	padding:0;
	margin: 0 0 0 0;
	list-style:none;
	float: right;
	
}

#pages li {
	font-size: 100%;
	display:inline;
	text-align:right;
	margin-left:3px;
}

#pages li a:link,
#pages li a:visited {
	color: #747474;
	text-decoration: none;
	font-weight:normal;
	padding:4px;
	
}

#pages li a:hover,
#pages li a:active {
	background-color:#ffcc00;
	padding:4px;
	color:#000;
}

.page-on {
	background-color:#ffcc00;
	padding:4px;
	color:#000;
}



div.messages {
	clear: both;
	display: block;
	padding: 20px;
	color: #fff;
	background-color:#000;
	font-size:140%;
	border:1px solid #ffcc00;
	margin-bottom:15px;
	text-align: center;
}

div.messages ul {
	list-style:none;
}
