@charset "UTF-8";
/* CSS Document */

*{
	margin:0;
	padding:0;
}

body {
	color: #000;
	background-color:#1C1C1C;
	margin: 0;
	padding: 0 0 70px 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align:Left;
	font-size: 0.75em;
}

a{
	color:#FFF;
}

h1 {
	font-size:400%;
	color: #fff;
	font-weight:100;
	padding: 0;
	margin:50px 0 0 0;
	text-transform:capitalize;
	text-align:left;
	clear: left;
	text-decoration:none;
	width:100%;
}

h2 a {
	color: #fff;
	font-weight:lighter;
	text-align:left;
	clear: left;
	width:100%;
	margin:0 0 10px 0;
	text-decoration:none;
}

h2 a:hover {
	text-decoration:none;
	color:#ffcc00;
}

h3 {
	font-size:120%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 10px 0;
	line-height:1.3em;
}

h4 {
	font-size:125%;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 10px 0;
}

h4 	a:link,
h4	a:visited {
	color: #fff;
	text-decoration:none;
}

h4  a:hover,
h4	a:active {
	color: #fff;
	text-decoration:underline;
}

h4.cs_dashboard {
	padding:0;
	margin:0;
}

h3 .yellow_text {
	color:#ffcc00;
}

h5 {
	font-size: 160%;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:100;
	color: #fff;
	text-align:left;
	clear: left;
	margin:0 0 5px 0;
}

h5.cs_type {
	color:#999999;
	font-size:125%;
	padding:0;
	margin:0 0 10px 0;
}

.clear{
	clear:both;
}

.floatRight{
	float:right;
}

.margLeft{
	margin-left:5px;
}

.margRight{
	margin-right:10px;
}

#header {
	height: 127px;
	background:url(../images/hdr_bg.jpg) repeat-x top #FFCC00;
}

#header_wrapper {
	width:960px;
	margin-right:auto;
	margin-left:auto;
	position:relative;
	height:120px;
}

#logoNew {
	background:url(../images/tlg_logo.png) no-repeat;
	width:341px;
	height:52px;
	margin-top: 43px;
	float:left;
	display:block;
	text-indent:-9999px;
}

#body_wrapper {
	width: 960px;
	margin-left:auto;
	margin-right:auto;
}

/* breadcrumb */

#breadcrumb {
	padding-left: 2px;
	margin: 0;
	list-style:none;
	margin-top:20px;
	margin-bottom:10px;
}

#breadcrumb li {
	color: #747474;
	font-size: 90%;
	display:inline;
}

#breadcrumb li a:link,
#breadcrumb li a:visited {
	color: #747474;
	text-decoration: none;
}

#breadcrumb li a:hover,
#breadcrumb li a:active {
	color:#ffcc00;
}

#breadcrumb li a.active {
	color:#ffcc00;	
}

/* Add Property */


#create_news {
	padding: 0;
	margin-top: 20px;
	list-style:none;
	width:960px;
}

#create_news li {
	font-weight:700;
	text-align:left;
	font-size:220%;
	font-weight:lighter;
	height: 50px;
	background-color:#ffcc00;
}

#create_news li a:link,
#create_news li a:visited {
	color: #323232;
	display: block;
	text-decoration: none;
	padding: 10px 0 0 10px;
	background-image:url(../images/icons/create_news_icon.gif);
	background-position:right;
	background-repeat:no-repeat;
	
}

#create_news li a:hover,
#create_news li a:active {
	color:#fff;
}

#plus_icon {
	position:absolute;
	left: 918px;
	top: 11px;
}

/*-----------------------------Search-------------------*/

#bigsearch{
	margin:40px auto;
	overflow:hidden;
}

.dashboardsearch {
	border: 1px solid #000;
	background-color:#fff;
	color:#c2c2c2;
	padding: 4px;
	font-size:19px;
	float: left;
	height:30px;
	width:555px;
	margin-right:10px;
	font-family:Arial, Helvetica, sans-serif;
}



/*-------------------------Admin Side Left----------------------*/

#adminSideleft{
	float:left;
	text-align:left;
	width:220px;	
	
}
.shadedtxt{
	color:#666666;
	}
	
.hdr-browse a:hover, .hdr-browse a.active{
	background-color:#ffcc00;
	color:#000;
}
	
dl.smallboxesleft{
	background-color:#3d3d3d;
	text-align:left;
	padding-left:0px;
	margin:0 0 5px 0;
	font-size:17px;
	color:#ffffff;
	
	}
	
.filter-menu{
	margin-top:10px;
	font-size:14px;
	color:#000;
	padding:10px;
	background-color:#FFCC00;
}

.rows{
	background-color:#2c2c2c;
	text-align:left;
	padding-left:5px;
	margin-left:0;
	font-size:11px;
	padding-top:5px;
	padding-bottom:2px;
	color:#747474;
	}
	
/*--admin side menu--*/

#adminSideRight{
	width:720px;
	float:right;
	overflow:hidden;
}

.pagenumber ul,
#adminSideRight ul {
	padding-top:10px;
	margin-left:10px;
	margin-bottom:10px;
	margin-top:0px;
	padding-left:0px;
}

#adminSideRight ul.ui-helper-reset{
	margin:0;
	padding:0;
	font-size:12px;
	clear:both;
}



#adminSideRight ul.ui-helper-reset li a.ui-multiselect-all,
#adminSideRight ul.ui-helper-reset li a.ui-multiselect-none{
	font-size:12px;
}

#adminSideRight ul li strong{
	font-size:20px;
}


.yellowTxt{
	color:#747474;
	margin-left:5px;
	font-size:11px;
	}

.whiteTxt{
	color:#ffcc00;
	margin-left:2px;
	font-size:11px;
	}

.cntbox1 a:link,.cntbox1 a:visited{
	color:#999;
	margin-left:5px;
	font-size:12px;
	padding-top:0px;
	margin-top:-3px;
	text-decoration:none;
	}
	
	
.whiteTxt1{
	
	margin-top:50px;}
	

	
	
.correctbut1{
	float:left;
	margin-top:10px;
	margin-left:5px;
	}	

.correctbut1:hover{
		background:url(../images/icons/icon_tick_hover.png) center no-repeat;
	}
	
	
	.correctbut, .correctbut1,
.wrongbut, .wrongbut1{
	float:right;
	width:18px;
	height:18px;
	cursor:pointer;
	margin:0 5px;
	padding-top:5px;
	}	



	.wrongbut1{
	float:left;
	margin-top:10px;
	margin-left:5px;
	}		
		
.yellowBound,
.yellowunBound{
	height:40px;
	}


.yellowunBound{
	
	overflow:hidden;
	background-color:#2c2c2c;
	margin-top:10px;
	color:#ffffff;
	font-size:17px;
	font-weight::bold;
	margin-top:15px;
	padding-left:5px;
	padding-top:10px;
	}
	
.yellowunBound p{
	line-height:20px;
}

.yellowBound.featured{
	background:url(../images/icons/icon_star.png) no-repeat 550px 15px;
}
	
.yellowBound:hover,
.yellowunBound:hover{
	background:#666;
	}	
	
.yellowunBound1{
	background-color:#3d3d3d;
	padding:9px;
	
	overflow:hidden;
	}
	

.yellowunBound .floatRight,
.yellowBound .floatRight{
	margin-bottom:10px;
}

	
.yellowunBound1 a
{
	color:#000;
	text-decoration:none;
	padding:0 5px;
	margin-left:7px;
	font-size:14px;
	font-weight:bold;
	background-color:#fff;
	line-height:25px;
	display:inline-block;
}

	

.over_lay a:hover,
.yellowunBound1 a.active{
	background-color:#ffcc00;
	border:none;
}



.yellowBound span.hdr-menu strong a{
	color:#FFF;
	background:none;
	margin-left:0;
	padding-left:0;
}

.yellowBound span.hdr-menu strong a:active{
	background-color:#666;
}

#button.yellowButton{
	float:left;
	margin-right:7px;
	padding:3px;
	line-height:1.2;
}

	
a.trashbut:hover{
	filter:alpha(opacity=60);
    opacity: 0.6;
	}


.hdr-menu-1{
	color:#606060;
	font-size:14px;
	padding-left:5px;
}

.pagenumber{
	color:#ffffff;
	float:right;
	text-align:right;
	cursor:pointer;
	margin-top:20px;
	padding-left:0px;	
	}
	
	.pagenumber ul li{
		display:inline;		
		}
		
.pagenumber a{
	font-size:12px;
	padding:5px;
}

.pagenumber ul li a:link, .pagenumber ul li a:visited{
	color:#fff;
	text-decoration:none;
	}
	
.pagenumber ul li a:hover,
.pagenumber ul li a.activepgno{
	background-color:#FFCC00;
	color:#000;
	}
	
	

/*---------------------------Overlay--------------------------*/

ul.over_lay {
    color: #FFFFFF;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 100px;
    padding-top: 10px;
    text-align: left;
	list-style:none;	
}

.over_lay li{
	font-size:12px;
}

.over_lay li.hdr-browse{
	font-size:17px;
	padding-left:0;
	padding-bottom:10px;
}

.over_lay .selectbox_1{
	width:300px;
	margin-bottom:10px;
	clear:both;
}

.over_lay .floatRight{
	margin-right:-90px;
}

a.cancel{
	color:#FFF;
	background-color:#3D3D3D;
}

a.add{
	background-color:#ffcc00;
}

a.add:hover{
	background-color:#FFF;
}

/*--------------------------Add Company------------------------*/

#addCompany .yellowunBound1{
	width:952px;
	margin:20px 0;
	padding-left:0;
}


#addCompany .filter-menu{
	margin-top:0;
}


.smallboxesleft dt.active{
	background-color:#ffcc00;
	color:#000;
}

#addCompany #adminSideRight{
	background-color:#3d3d3d;
	padding:10px;
	width:700px;
}

#addCompany #recentActivity{
	background-color:#3d3d3d;
	padding:0 10px 10px 10px;
	width:700px;
	float:right;
}

#addCompany #contactListing{
	width:720px;
	float:right;
}

#assignedProperties{
	background-color:#3d3d3d;
	padding:15px 10px 10px 10px;
	width:700px;
	float:right;
	margin-top:20px;
	position:relative;
}

#assignedProperties h2{
	width:300px;
	margin-bottom:0;
}

.pointer {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: url(../images/down_arrow_grey.png);
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: auto auto;
    bottom: -9px;
    height: 9px;
    position: absolute;
    text-indent: -9999px;
    width: 25px;
}

.addDetails{
	color:#FFF;
}

.addDetails dt{
	width:150px;
	float:left;
	padding:5px 15px 5px 5px;
	text-align:right;
}

.addDetails input{
	width:350px;
	height:20px;
	border:none;
	background-color:#fff;
	padding:0 5px;
	font-size:12px;
	margin-bottom:10px;
	margin-right:5px;
}

.addDetails input.map{
	text-align:left;
	width:100px;
	cursor:pointer;
}

.addDetails input.map:hover{
	background-color:#ffcc00;
}

.addDetails .yellowunBound{
	width:695px;
	padding-top:15px;
}

.addDetails .yellowunBound input,
.addDetails .yellowBound input{
	width:15px;
}

.addDetails .viewDetails{
	width:360px;
	line-height:20px;
	border:1px solid #000;
	background-color:#666;
	color:#000;
	padding:0 5px;
	font-size:12px;
	margin-bottom:10px;
	float:left;
	margin-right:150px;
	min-height:20px;
}


.addDetails .ui-corner-all input{
	width:auto;
	padding:0;
}

.addDetails textarea{
	width:365px;
}

.addDetailsFoot{
	border-bottom:1px solid #666;
	padding-bottom:10px;
	margin-bottom:20px;
}
	
/*.CompanySelectbox{
	width:200px;
	border:1px solid #fff;
	font-size:14px;
	color:#c2c2c2;
	padding:4px;
	margin-bottom:10px;
}*/

#formContainer{
	width:960px;
	overflow:hidden;
	background:url(../images/formContainerIMG.jpg) repeat-y left;
}

.yellowBound p,
.yellowunBound p{
	font-size:14px;
}

/*----------------------------View Individual------------------*/

.yellowStrip{
	width:215px;
	height:100%;
	border-right:5px #ffcc00 solid;
	position:relative;
	background-color:#3d3d3d;
	float:left;
}

#navigation{
	width:215px;
}


#navigation li{
	font-size:10px;
}

#navigation li.edit{
	color:#FFF;
	font-size:140%;
	padding:10px 10px 10px 20px;
}

#navigation li a:link,
#navigation li a:visited{
	padding-left:20px;
}

#navigation ul ul a:link,
#navigation ul ul a:visited{
	padding-left:30px;
}

#navigation li.active{
	background-color:#ffcc00;
}

#navigation ul ul {
    color: #CCCCCC;
    font-size: 80%;
	}
	
#navigation ul ul li.active a{
	color:#000;
}

#navigation ul ul ul a:link, #navigation ul ul ul a:visited {
    color: #999999;
    font-size: 105%;
    padding-left: 30px;
}

#navigation ul ul a:hover,
#navigation ul ul .active,
#navigation ul ul ul a:hover,
#navigation li a:hover{
	background-color:#ffcc00;
	color:#000;
}

.indivdual input{
	color:#000;
}

/*.individualTitle{
		width:96px;
}*/

 .indivdual .CompanySelectbox select{
	 margin:0 0 10px 5px;
}

 .indivdual .CompanySelectbox.long select{
	 width:360px;
 }

.addDetails .individualTitle.viewDetails,
 .indivdual{
	 width:96px;
	 margin-right:0;
 }
 

.addDetails .FirstName.viewDetails,
input.FirstName{
	width:112px;
	margin-left:10px;
	float:left;
	margin-right:0;
}

.addDetails .LastName.viewDetails,
input.LastName{
	width:112px;
	margin-left:10px;
}

input[type="checkbox"]{
	vertical-align:middle;
	height:15px;
	width:15px;
	margin:5px 5px 10px 5px;
}

#activity{
	margin-top:30px;
	width:720px;
	float:left;
}

#activity ul{
		height:25px;

	list-style:none;
}

#activity li{
	display:inline;
}

#reminder a.head,
#activity li a{
	font-size:14px;
	font-weight:bold;
	padding:10px;
	text-decoration:none;
	color:#FFF;
}

#reminder a:hover,
#activity a:hover{
	color:#ffcc00;
}

#reminder a.head,
#activity a.active{
	
	color:#ffcc00;
	background:url(../images/activityArrow.jpg) no-repeat bottom;
}

#reminder dl,
#activity table{
	color:#FFF;
	background-color:#2c2c2c;
}

#reminder dl a,
#activity table a{
	text-decoration:underline;
}

#activity table a.view{
	float:left;
	padding:5px 10px;
}

#reminder dd,
#activity td{
	padding:10px;
}


#activity tr.head{
	font-size:14px;
}

.lgtGrey{
	background-color:#3d3d3d;
}

#reminder{
		margin-top:30px;
	width:220px;
	float:right;
}

#reminder dt{
	font-size:14px;
	padding:10px;
	text-align:right;
}

#reminder dl{
	margin-top:8px;
}

div.panel
{
display:none;
}

.flip{
	text-decoration:underline;
	cursor:default;
}

.selectbox_1{
	margin-top:0;
	margin-bottom:0;
	margin-left:0;
}

.companyList{
	margin-left:5px;
	line-height:2;
}

#backgroundColumns{
	background:url(../images/background_columns.gif) repeat-y;
	position:relative;
}

	
/*-----------------------------Footer--------------------------*/

#footer{
	width:100%;
	margin-top:30px;
	border-top:1px #ffcc00 solid;
}

#footer p{
	width:960px;
	margin:0 auto 20px auto;
}

#footer a{
	float:right;
	font-weight:bold;
	padding:5px 10px;
	background-color:#ffcc00;
	text-decoration:none;
	color:#000;
	margin-bottom:20px;
}

/*----------------------------Tabs-----------------------------*/

/* root element for tabs_alt  */
ul.tabs_alt { 
	list-style:none; 
	margin:0 !important; 
	margin-left:-10px !important;
	width:720px;
	overflow:hidden;
	background-color:#1c1c1c;
	padding-top:10px;
}

#recentActivity ul.tabs_alt li,
#adminSideRight ul.tabs_alt li{
	width:auto;
	padding:0 20px 5px 0;
}

/* single tab */
ul.tabs_alt li { 
	float:left;	 
	text-indent:0;
	margin:0 !important;
	list-style-image:none !important; 
}

/* link inside the tab. uses a background image */
ul.tabs_alt a { 
	font-size:12px;
	display:block;
	text-align:left;	
	text-decoration:none;
	color:#fff;
	font-weight:bold;
	padding:10px 0;
	margin:0px;	
	position:relative;
}

ul.tabs_alt a:active {
	outline:none;		
}

/* when mouse enters the tab move the background image */
ul.tabs_alt a:hover {
	color:#ffcc00;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
ul.tabs_alt a.current, ul.tabs_alt a.current:hover, ul.tabs_alt li.current a {
	cursor:default !important; 
	color:#ffcc00 !important;
	background:url(../images/arrowUp.gif) no-repeat bottom center ;
}

/* initially all panes are hidden */ 
div.panes div.pane {
	display:none;		
}

/*--------------------------------------Activity table---------------------------------*/

.viewDetails table{
	width:720px;
	position:relative;
	color:#FFF;
	background-color:#3d3d3d;
	margin-left:0;
}

.viewDetails table td{
	color:#FFF;
	background-color:#666666;
	border:0;
	font-size:12px;
}

.viewDetails table th{
	color:#FFF;
	background-color:#3d3d3d;
	text-transform:none;
}

#newnotepanel textarea{
	height:22px;
	margin-right:10px;
	width:550px;
}

.addNote{
	float:right;
	margin-top:10px;
	position:relative;
	z-index:100;
}

#comments textarea{
	width:365px;
}

/*-------------------------------Date Picker-------------------------*/


.ui-datepicker-title{
	text-align:center;
}

.ui-datepicker .ui-datepicker-next{
	right:10px;
}


/*-------------------------------Drop Down-------------------------*/



.ui-multiselect{
	background:url(../images/down_arrow_black.png) no-repeat right #FFF;
}
	

.ui-multiselect span{
	font-size:12px;
	line-height:1.5;
}

/* ------- Sticky Footer -----------*/


#footer_wrap {
  position: fixed;
  bottom: 0;
  height: 45px;
  width: 100%;
  background: #000;
  z-index: 99;

}




.footer {
  width: 100%;
}


#info-btn {
    background:no-repeat scroll 0 0 transparent;
	background-image:url(../images/footer/info_btn.png);
    display: block;
    height: 45px;
    width: 45px;
	float:left;
}

#info-btn:hover {
    background-position: 0 -45px;
}

#info-btn span {
    display: none;
}





#settings-btn {
    background:no-repeat scroll 0 0 transparent;
	background-image:url(../images/footer/settings_btn.png);
    display: block;
    height: 45px;
    width: 45px;
	float:right;
	color:#666;
}

#settings-btn:hover,
#settings-btn.active {
    background-position: 0 -45px;
	color:#fff;
	background-color:#FFF;
}

#settings-btn span {
    display: none;
}



#arrow-btn {
    background:no-repeat scroll 0 0 transparent;
	background-image:url(../images/footer/arrow_btn.png);
    display: block;
    height: 45px;
    width: 45px;
	float:right;
	color:#666;
}

#arrow-btn.active,
#arrow-btn:hover {
    background-position: 0 -45px;
	background-color:#FFF;
	color:#fff;
}

#arrow-btn span {
    display: none;
}





#notifications-btn {
    background:no-repeat scroll 0 0 transparent;
	background-image:url(../images/footer/notifications_btn.png);
    display: block;
    height: 37px;
    width: 13px;
	float:right;
	color:#666;
	position:relative;
	padding-left:32px;
	padding-top:8px;
	font-size:8px;
	text-decoration:none;
}

#notifications-btn:hover {
    background-position: 0 -45px;
	color:#fff;
}

#notifications-btn span {
    display: none;
}




#image_info {
	margin:0 auto;
	margin-top:17px;
	position:absolute;
	middle:0;
	text-transform:uppercase;
	text-align:center;
	left: 50%;
    margin-left: -130px;
}

#image_info p a {
	color:#666;
	text-transform:uppercase;
	text-decoration:none;
	font-size:11px;
}

#image_info p a:hover {
	color:#fff;
}

#arrow-content{
	position:fixed;
	bottom:45px;
	right:45px;
	background-color:#FFF;
	color:#999;
	padding:10px;
	z-index:100;
}

#settings-content{
	position:fixed;
	bottom:45px;
	right:0px;
	background-color:#FFF;
	color:#999;
	padding:10px;
	z-index:100;
}

#arrow-content.hide,
#settings-content.hide{
	display:none;
}

#settings-content li,
#arrow-content li{
	text-decoration:none;
}

#settings-content li a,
#arrow-content li a{
	text-decoration:none;
	color:#3d3d3d;
	padding-bottom:10px;
	border-bottom:1px solid #3d3d3d;
	margin-bottom:10px;
	display:block;
	font-weight:bold;
	line-height:1.5;
}

#settings-content li a:hover,
#arrow-content li a:hover{
	color:#000;
}

#settings-content li a .icon,
#arrow-content li a .icon{
	height:16px;
	width:16px;
	float:right;
	background:url(images/ui-icons_ffffff_256x240.png) no-repeat -32px -16px;
	margin-left:20px;
}

#settings-content li a:hover .icon,
#arrow-content li a:hover .icon{
	background:url(images/ui-icons_000000_256x240.png) no-repeat -32px -16px;
}

table#members{
	margin:0;
	width:960px;
}

table#members th{
	background-color:#666;
	font-size:14px;
	font-weight:bold;
	text-transform:capitalize;
	color:#FFF;
	border:none;
}

table#members td{
		background-color:#3d3d3d;
	color:#FFF;
	padding:10px;
	border-bottom:1px solid #1c1c1c;
	border-left:none;
	border-top:none;
	border-right:none;
	font-size:12px;
}
	